@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: "Roboto Slab", serif;
} */
.image-gallery .image {
  width: 150px;
  height: 150px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s;
}

.image-gallery .image.dragging {
  transform: scale(1.1);
  transition: none;
  opacity: 0.7;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.image {
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: border-color 0.3s, transform 0.2s;
}
.feature-image {
  width: 200px;
  height: 200px;
  scale: 1.03;
  border-top-left-radius: 10px; /* Adjust the radius value as needed */
  border-bottom-right-radius: 10px;
}
.normal-image {
  width: 200px;
  height: 200px;
}

.selected {
  border-color: #007bff;
}

.dragging {
  transform: scale(1.05);
}
.header {
  color: #f2f8f5;
  font-family: Poppins, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.header-span {
  background: -webkit-linear-gradient(#23bfb8, #85ea80);
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
}
